{% extends "PATH/base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <form action="http://localhost:8000/login/"  method="post">
        {% csrf_token %}
        <div style="padding: 0 0 50px 0;">
            <h2>LOGIN</h2>
            <p>New to the plateform? <a href="{% url 'PATH:register' %}" style="color: white;"> Sign up
                    for free </a></p><br>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>


        <div class="form-flex">
            <label style="font-size: 16px;" class="label" for="username">Enter username / Email</label>
        </div>
        <input type="text" id="username" name="username" placeholder="Username" required>

        <div>
            <div class="form-flex">
                <label style="font-size: 16px;" class="label" for="password">Password</label>
                <label id="togglePassword" style="font-size: 18px; cursor: pointer;">
                    <i class="fa-solid fa-eye-slash"></i>
                </label>
{#                <label for="" style="font-size: 18px;"> <i class="fa-solid fa-eye-slash"></i> Hide</label>#}
            </div>
            <div style="margin-bottom: 30px;">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <div class="form-flex">
                    <!-- <div class="check">
                        <input type="checkbox" id="checkbox1" class="checkbox-input">
                        <label for="checkbox1" class="checkbox-label">Remember me ?</label>
                    </div> -->
                    <a class="forg" href="{% url 'PATH:password_reset' %}">Forget password?</a>
                </div>
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const togglePassword = document.getElementById('togglePassword');
            const password = document.getElementById('password');

            togglePassword.addEventListener('click', function () {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        });
    </script>
{% endblock %}