{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sign up Form </title>
    <link rel="stylesheet" type="text/css" href="{% static 'PATH/css/registration.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'PATH/images/logo.png' %}" alt="Logo" class="logo"> <!-- Path to your logo image -->
        </div>
        <div class="content">
            <div class="side-image">
                <img src="{% static 'PATH/images/Frame.png' %}" alt="Side Image"> <!-- Path to your side image -->
            </div>
            <div class="login-form">

                <form action="" method="post">
                    {% csrf_token %}
                    <div style="padding: 0 0 50px 0;">
                        <h2>Sign up</h2>
                        <p>Alrady register? <a href="{% url 'PATH:login' %}" style="color: white;"> Login here </a></p>

                    </div>
                    <div class="user-details">
                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="firstname">First Name</label>
                            </div>
                            <input type="text" id="firstname" name="firstname" placeholder="Firstname" required>
                        </div>
                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="username">Enter username</label>
                            </div>
                            <input type="text" id="username" name="username" placeholder="Username" required>

                        </div>
                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="password">Password</label>
                                <label id="togglePassword" style="font-size: 18px; cursor: pointer;">
                                <i class="fa-solid fa-eye-slash"></i>
                                </label>
                            </div>
                            <input type="password" id="password" name="password" placeholder="Password" required>
                        </div>
                        <!-- <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="password">Confirm password</label>
                                <label for="" style="font-size: 18px;"> <i class="fa-solid fa-eye-slash"></i>
                                    Hide</label>
                            </div>
                            <input type="password" id="password" name="password" required>
                        </div> -->
                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="email">Email</label>
                            </div>
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="mobile">Phone Number</label>
                            </div>
                            <input type="text" id="mobile" name="mobile" placeholder="Phone Number" required>

                        </div>

                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="address">Address</label>
                            </div>
                            <input type="text" id="address" name="address" placeholder="Address" required>
                        </div>
                        <div class="input-box">
                            <div class="form-flex">
                                <label style="font-size: 16px;" class="label" for="city">City</label>
                            </div>
                            <input type="text" id="city" name="city" placeholder="City" required>

                        </div>
                        <div class="input-box">
                            <div class="form-flex">
                                <span class="details">State</span>
                            </div>
                                <select class="form-control" name="state" id="inputState"
                                    style="border:1px solid black; width: 100%;">
                                    <option value="SelectState">Select State</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="British Columbia">British Columbia</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="New Brunswick">New Brunswick</option>
                                    <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                                    <option value="Northwest Territories">Northwest Territories</option>
                                    <option value="Nova Scotia">Nova Scotia</option>
                                    <option value="Nunavut">Nunavut</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                    <option value="Quebec">Quebec</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon">Yukon</option>
                                </select>



                        </div>
                        <div class="input-box">
                            <div class="gender-input">
                                <div class="details">Gender</div>
                                <div class="category">
                                    <input type="radio" name="gender" id="male" class="gender-radio" value="male">
                                    <label for="male" class="gender-label"><span class="dot"></span>Male</label>
                                    <input type="radio" name="gender" id="female" class="gender-radio" value="female">
                                    <label for="female" class="gender-label"><span class="dot"></span>Female</label>
                                    <input type="radio" name="gender" id="other" class="gender-radio" value="other">
                                    <label for="other" class="gender-label"><span class="dot"></span>Other</label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div style="margin-bottom: 30px;">

                                <div class="form-flex">
                                    <div class="check">
                                        <input type="checkbox" id="checkbox1" class="checkbox-input">
                                        <label for="checkbox1" class="checkbox-label">Remember me ?</label>
                                    </div>
                                    <a class="forg" href="">Forget password?</a>
                                </div>
                            </div>
                        </div>



                        <button type="submit">Sign up</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
</body>

</html>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            const togglePassword = document.getElementById('togglePassword');
            const password = document.getElementById('password');

            togglePassword.addEventListener('click', function () {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                this.querySelector('i').classList.toggle('fa-eye');
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        });
</script>