<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sign up Form </title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="./images/logo.png" alt="Logo" class="logo"> <!-- Path to your logo image -->
        </div>
        <div class="content">
            <div class="side-image">
                <img src="./images/Frame.png" alt="Side Image"> <!-- Path to your side image -->
            </div>
            <div class="login-form">

                <form>
                    <div style="padding: 0 0 50px 0;">
                        <h2>Sign up</h2>
                        <p>Alrady register? <a href="" style="color: white;"> Sign in for free   </a></p>
                        
                    </div>

                    <div class="form-flex">
                        <label style="font-size: 16px;" class="label" for="username">Enter username / Email</label>
                    </div>
                    <input type="text" id="username" name="username" required>


                    <div class="form-flex">
                        <label style="font-size: 16px;" class="label" for="password">Password</label>
                            <label for="" style="font-size: 18px;"> <i class="fa-solid fa-eye-slash"></i> Hide</label>
                    </div>
                    <input type="password" id="password" name="password" required>

                    <div>
                        <div class="form-flex">
                            <label style="font-size: 16px;" class="label" for="password">Confirm password</label>
                            <label for="" style="font-size: 18px;"> <i class="fa-solid fa-eye-slash"></i> Hide</label>
                        </div>
                        <div style="margin-bottom: 30px;">
                            <input type="password" id="password" name="password" required>
                            <div class="form-flex">
                                <div class="check">
                                    <input type="checkbox" id="checkbox1" class="checkbox-input">
                                    <label for="checkbox1" class="checkbox-label">Remember me ?</label>
                                </div>
                                <a class="forg" href="">Forget password?</a>
                            </div>
                        </div>
                    </div>



                    <button type="submit">Login</button>
                </form>

            </div>
        </div>
    </div>
    </div>
</body>

</html>