body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    color: white;
    box-sizing: border-box;
}

.topnav{
    overflow: hidden;
    background: #32213B;
    align-items: center;
    height: 5em;
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    z-index: 999;
}


.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.topnav a:visited,
.topnav a:active {
    color: #838E9E;
}

.rest .nav-links{
    position: relative;
    right: 15%;
    text-decoration: none;
}

.rest .nav__list {
	list-style: none;
}

.rest .nav__link {
	text-decoration: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #838E9E;
    box-sizing: border-box;
    line-height: 1.3;
    transition: .3s all;
    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    bottom: -22px;
    height: 2px;
    background-color: #FFFFFF;
    transition: .3s all;
}
.rest .nav__link:hover{
    color: #FFFFFF;
    font-weight: 500;
}

.nav__link:hover:after {
  width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
.active {
    color: white;
}

#name  {
    float: left;
    /font-family: 'Poppins', sans-serif;/
    margin-top: 20px;
    color: #FFFFFF;
}

.name img {
    width: 130px;
    height: 59px;
    border-radius: 8px;
}

#rest {
    display: flex;
    justify-content: space-around;

}

#rest ul {
    display: inline-block;
    margin-right: 5px;
    margin-left: 1px;
}

.rest .register{
    position: relative;
    right: 15px;
    font-weight: 700;
    height: 16px;
}

.rest .register a {
    border: 1px solid #9961BA;
    color: #FFFFFF;
    padding: 10px 32px 10px 32px;
    border-radius: 7px;
}

.rest .register a:hover {
    color: #FFFFFF;
    background: #9961BA;
    text-decoration: none;
}

.footer {
    background: #32213B;
    padding: 30px;
    text-decoration: none;
    color: #988b8b;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    border: 2px solid white;

}

.footer .section1 {
    width: 20%;
    padding: 20px 20px;
    color: #FFFFFF;
    border-radius: 14px 14px;
}

.footer .section1 i, h3, a{
    color: #FFFFFF;
}

.footer h3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #565665;
}



.section1 {
    width: 33%;
}


.col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }

.col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }

.cssanimation, .cssanimation span {
      animation-duration: 0.8s;
      animation-fill-mode: both;
    }

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
    @keyframes fadeInBottom {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      to { opacity:1}
}
