body{

  justify-content: center;
  align-items: center;
  background-color: #f2f1f8;
}
.container1{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-top: 0%;
  margin:0 auto;
  margin-bottom: 5%;

}

.container1 h3{
font-size: 32px;
font-weight: 800;
line-height: 50px;
text-align: center;
/* background-color: #07411a; */
color: #7d7d81;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container2{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;

  /* top: 40%;
  left: 50%; */
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 5%;


}
.container1 .container2 .title{
  font-size: 25px;
  font-weight: 500;

  font-size: 32px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  /* background-color: #07411a; */
  color: #d1d1d6;


}
.container1 .container2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #07411a;


}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #0c0b0b;
}
/* .user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #07411a;
} */
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
 }
 form .category{
   display: flex;
   width: 100%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-left: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #07411a;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #09333f;
 }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

#car-details {
  display: none;
}

#car-details:target {
  display: block;
  max-width: 1000px;
}

.cssanimation, .cssanimation span {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {opacity:1}
}
