<!-- show_cars.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Photos</title>
</head>
<body>
    <h1>Car Photos</h1>
    {% for car in cars %}
        <div>
            <h2>{{ car.make }} {{ car.model }} ({{ car.year }})</h2>
            <p>Color: {{ car.color }}</p>
{#                {{ car.photo }}#}
            {% if car.photo %}
                <img src="/media/car_photos/Toyota.jpeg" alt="{{ car.make }} {{ car.model }} photo">
            {% else %}
                <p>No photo available</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
