<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Path - 3 in 1 Teleportation Pods </title>
        <link rel="stylesheet" href="{% static 'styles/base.css'%}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{#        <script src="{% static 'js/home.js'%}"></script>#}
    </head>
    <div class="topnav" id="myTopnav">
        <ul>
            <div id="name">
                <h1>Path - Car Pool</h1>
            </div>
        </ul>
    <ul id="rest">
      <ul><a href="{% url 'car_ride:home' %}" class="active">Home</a></ul>
      <ul><a href="{% url 'car_ride:searchmycar' %}">Book Your Car</a></ul>
      {% if user.is_authenticated %}
      <ul><a href="{% url 'car_ride:dashboard' %}">Dashboard</a></ul>
{#      <ul><a href="{% url 'car_ride:allcars' %}">Cars</a></ul>#}
{#      <ul><a href="{% url 'car_ride:mycar_list' %}">My Cars</a></ul>#}
{#      <ul><a href="{% url 'logout' %}">Logout</a></ul>#}
      {% else %}
{#      <ul><a href="{% url 'car_ride:allcars' %}">Cars</a></ul>#}
      <ul><a href="{% url 'car_ride:register' %}">Register</a></ul>
      <ul><a href="{% url 'car_ride:login' %}">Login</a></ul>
{#      <ul><a href="{% url 'car_ride:contact' %}">Contact us</a></ul>#}
      {% endif %}
    </ul>
    </div>
<div>
    {% block body_block %}*** {% endblock %}
</div>
  <div class="footer">
    <div class="section1">
      <h3>Contact us</h3>
      <i class="fa fa-home">Address No: XXXXXXX Street</i></br>
      <i class="fa fa-phone">Mobile: 1234567890</i></br>
      <i class="fa fa-envelope">Email: abc@gmail.com</i></br>
    </div>
    <div class="section1">
      <h3>Project Links</h3>
      <a href="{% url 'car_ride:home' %}">Home</a></br>
{#      <a href="{% url 'car_ride:contact' %}">Contact</a></br>#}
      <a href="{% url 'car_ride:login' %}">Login</a></br>
      <a href="{% url 'car_ride:register' %}">Register</a></br>
    </div>
  </div>
</html>