{% extends 'base.html' %}
{% load static %}
{% block body_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/booked.css'%}">
  <div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <center>{{ message }}</center>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="container2" id="container2">
    <div class="abc">
      <img src="{{book.car.imageURL}}">
      <table style="margin-left: 5%">
          <tr>
              <td style="background-color: #50a0bb;color: white;">Rider Name</td>
              <td>{{ book.car.cust.fname }}</td>
          </tr>
          <tr>
              <td style="background-color: #50a0bb;color: white;">Rider Contact</td>
              <td>{{ book.car.cust.mobile }}</td>
          </tr>
        <tr>
          <td style="background-color: #50a0bb;color: white;">Price Per Person</td>
          <td>{{book.car.price}}</td>
        </tr>
      </table>
    </div>

    <h3>Your Booking Details</h3>
    <div class="title">
      <div class="table-container">
        <table class="table1">
          <tr>
            <td style="background-color: #50a0bb;color: white;">Booking Reference Number</td>
            <td>{{book.id}}</td>
          </tr>
          <tr>
            <td style="background-color: #50a0bb;color: white;">Booking Date</td>
            <td>{{book.date_added}}</td>
          </tr>
          <tr>
            <td style="background-color: #50a0bb;color: white;">Customer Name</td>
            <td>{{book.name}}</td>
          </tr>
          <tr>
            <td style="background-color: #50a0bb;color: white;">Contact Number</td>
            <td>{{book.contact}}</td>
          </tr>
          <tr>
            <td style="background-color: #50a0bb;color: white;">Email</td>
            <td>{{book.email}}</td>
          </tr>
{#          <tr>#}
{#            <td style="background-color: #50a0bb;color: white;">PickUp Date</td>#}
{#            <td>{{book.pickup}}</td>#}
{#          </tr>#}
{#          <tr>#}
{#            <td style="background-color: #50a0bb;color: white;">Drop Date</td>#}
{#            <td>{{book.dropoff}}</td>#}
{#          </tr>#}
          <tr>
            <td style="background-color: #50a0bb;color: white;">PickUp Address</td>
            <td>{{book.pick_add}}</td>
          </tr>
          <tr>
            <td style="background-color: #50a0bb;color: white;">Drop Address</td>
            <td>{{book.drop_add}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div> 
{% endblock %}