{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css'%}">

  <style>
    body {
      background-image: url("{% static 'images/img10.jpg' %}");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .content1 {
      display: flex;
      justify-content: space-between;
    }

    .left-side {
        flex: 1;
        margin-right: 10px;
        text-align: center;
    }

    .right-side {
      flex: 1;
      margin-left: 20px;
    }
  </style>

  <div class="cssanimation sequence fadeInBottom">
    <div style="position: relative; display: inline-block;">
  <img src="{% static 'images/contact.png' %}" alt="Image" style="max-width: 100%;">

  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
</div>

    <div class="content1">
      <div class="left-side">
        <img src="{% static 'images/contact-vector.png' %}" alt="Image" style="max-width: 100%; margin-top: 15%; height: 70%">
      </div>
      <div class="right-side">
        <form class="contactus" action="" method="post" style=" background-color: rgba(153, 97, 186); border-radius: 20px">
          {% csrf_token %}
          <div class="topic-text" style="color: white">
            <h2 style="color: white; text-align: center"> CONTACT US </h2>
            <br>
          </div>
          <div class="input-box">
            <input type="text" name="name" placeholder="Name" style="border-radius: 50px; border-color: white; background: white">
          </div>
          <div class="input-box">
            <input type="text" name="email" placeholder="Email" style="border-radius: 50px; border-color: white; background: white">
          </div>
          <div class="input-box">
            <input type="text" name="phone" placeholder="Phone" style="border-radius: 50px; border-color: white; background: white">
          </div>
          <div class="input-box">
            <textarea name="msg" placeholder="Message" style="margin-top: 2%; width: 98%; margin-left: 1.5%; border-radius: 10px; border-color: white; background: white"></textarea>
          </div>
          <button style="margin-top: 20px; background-color: white; color: black; border-color: white; border-radius: 50px">SUBMIT</button></br></br>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
