{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static 'styles/cust_booking.css'%}">
  <div class="dashboard1">
    <h3>MY BOOKINGS</h3>
  </div>
<div class="cssanimation sequence fadeInBottom">
    {% if otherbookings %}
    <table>
        <tr>
            <th>Booking Id</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
            <th>Customer Contact</th>
            <th>Company</th>
            <th>Car Name</th>
            <th>Car Type</th>
            <th>Booking Date</th>
            <th>Pickup Date</th>
            <th>Dropoff Date</th>
            <th>Pickup Address</th>
            <th>Dropoff Address</th>
            <th>Seats Booked</th>
            <th>Action</th>
        </tr>
        {% for booking in otherbookings %}
        <tr>
            <td>{{booking.id}}</td>
            <td>{{booking.name.fname}}</td>
            <td>{{booking.email}}</td>
            <td>{{booking.contact}}</td>
            <td>{{booking.car.company}}</td>
            <td>{{booking.car.car_name}}</td>
            <td>{{booking.car.car_type}}</td>
            <td>{{booking.date_added}}</td>
            <td>{{booking.pickup}}</td>
            <td>{{booking.dropoff}}</td>
            <td>{{booking.pick_add}}</td>
            <td>{{booking.drop_add}}</td>
            <td>{{booking.num_seats_booked}}</td>
            <td>
                <form action="{% url 'car_ride:cancel_booking' booking.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cancel</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        <center>No bookings yet!</center><br><br><br><br><br><br><br><br><br><br><br><br>
    </p>
    {% endif %}
</div>
{% endblock %}