{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
.booking-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.booking-card {
    background-color: rgba(153, 97, 186, 0.2);
    border: 2px solid #9961BA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(28% - 20px);
    margin: 0 10px 20px;
    justify-content: space-evenly;
}
.booking-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.booking-card h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    color: #9961BA;
}
.booking-card p {
    margin: 10px 0;
}
.booking-card table {
    flex: 1;
    border-collapse: collapse;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}
.booking-card th,
.box-element-product td {
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
}
.booking-card th {
    font-weight: bold;
    color: #333333;
    font-size: 16px !important;
    border-bottom: 1px solid #ccc;
}
.booking-card td {
    border-bottom: 1px solid #ccc;
}
.action-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 40px;
}
.action-buttons a,
.action-buttons button {
    margin-top: 5px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #9961BA;
    font-size: 15px;
    margin-bottom: 10px;
}
.action-buttons a:hover,
.action-buttons button:hover {
    color: #32213B;
}
.booking-card p{
    margin-left: 10px;
}
</style>
    <script>
    function confirmCancelBooking(bookingId) {
        var confirmation = confirm("Are you sure want to cancel this customer's booking?");
        if (confirmation) {
            document.getElementById("cancel_booking_form_" + bookingId).submit();
        }
    }
</script>
    <div class="cssanimation sequence fadeInBottom">
        {% if otherbookings %}
            <div class="booking-container">
                {% for booking in otherbookings %}
                    <div class="booking-card">
                        <h4 style="margin-left: 20px">Booking ID: {{ booking.id }}</h4>
                        <table>
                        <tr>
                            <th>Customer Name:</th>
                            <td>{{ booking.name.fname }}</td>
                        </tr>
                       <tr>
                            <th>Customer Email:</th>
                           <td>{{ booking.email }}</td>
                       </tr>
                        <tr>
                            <th>Customer Contact:</th>
                            <td>{{ booking.contact }}</td>
                        </tr>
{#                        <tr>#}
{#                            <th>Pickup Date:</th>#}
{#                            <td>{{ booking.pickup }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th>Dropoff Date:</th>#}
{#                            <td>{{ booking.dropoff }}</td>#}
{#                        </tr>#}
                       <tr>
                            <th>Pickup Address:</th>
                           <td>{{ booking.pick_add }}</td>
                       </tr>
                        <tr>
                            <th>Dropoff Address:</th>
                            <td>{{ booking.drop_add }}</td>
                        </tr>
                        <tr>
                            <th>Seats Booked:</th>
                            <td>{{ booking.num_seats_booked }}</td>
                        </tr>
						<tr>
                            <th>Total Price:</th>
                            <td>{{ booking.price }}</td>
                        </tr>
                        </table>
                        <div class="action-buttons">
                        <form id="cancel_booking_form_{{ booking.id }}" action="{% url 'car_ride:cancel_booking' booking.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" onclick="confirmCancelBooking('{{ booking.id }}')">
                            <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <p><center style="margin-top: 10%; margin-left: 25%; margin-right: 25%; color: white; font-size: 40px; width: 50%; border-radius: 10px; padding: 20px; background-color: #9961BA; opacity: 70%;">You do not have any bookings right now !!</center>
            </p>
        {% endif %}
    </div>
{% endblock %}