{% extends 'base.html' %}
{% load static %}
{% block body_block %}

    <style>
    .booking-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 20px;
        margin-top: 20px;
        justify-content: flex-start;
    }

    .booking-card {
        background-color: rgba(153, 97, 186, 0.2);
        border: 2px solid #9961BA;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: calc(33% - 20px);
        margin-right: 20px;
    }

    .booking-card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .booking-card h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .booking-card p {
        margin: 10px 0;
    }

    .booking-card button {
        padding: 5px 10px;
        background-color: #9961BA;
        color: #fff;
        border-color: #9961BA;
        border-radius: 5px;
        cursor: pointer;
    }

    .booking-card button:hover {
        background-color: #FFFFFF;
        color: #9961BA;
    }

    .booking-card p{
        margin-left: 10px;
    }

    </style>



    <div class="cssanimation sequence fadeInBottom">
        {% if otherbookings %}
            <div class="booking-container">
                {% for booking in otherbookings %}
                    <div class="booking-card">
                        <h4 style="margin-left: 20px">Booking ID: {{ booking.id }}</h4>
                        <p><strong>Customer Name:</strong>{{ booking.name.fname }}</p>
                        <p><strong>Customer Email:</strong> {{ booking.email }}</p>
                        <p><strong>Customer Contact:</strong> {{ booking.contact }}</p>
                        <p><strong>Pickup Date:</strong> {{ booking.pickup }}</p>
                        <p><strong>Dropoff Date:</strong> {{ booking.dropoff }}</p>
                        <p><strong>Pickup Address:</strong> {{ booking.pick_add }}</p>
                        <p><strong>Dropoff Address:</strong> {{ booking.drop_add }}</p>
                        <p><strong>Seats Booked:</strong> {{ booking.num_seats_booked }}</p>
                        <form action="{% url 'cancel_booking' booking.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Cancel Booking</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>
                <center>There are No Bookings</center>
            </p>
        {% endif %}
    </div>

{% endblock %}
