{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <div id="wrapper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'styles/home.css'%}">
    <div id="carouselExampleIndicators" class="carousel slide overflow overflow-hidden" data-ride="carousel"
        style="margin-top: -7px; overflow: visible;">
        <div class="carousel-inner">
            <div class="img-up active">
                <img class="background-image" src="{% static  'images/img7.jpg' %}" alt="First slide"
                    style="height: 110vh; width: 100%">
            </div>
        </div>
    </div>
    <!-- Main block with two blocks -->
    <div class="main-block">
        <div class="block purple-bg"></div>
            <div class="head-text">Our Services</div>
            <div class="head-content">
                <p>We are a specialized team committed to providing reliable car rental services.
                One of the advantages of renting a car from us is offering competitive and transparent prices.
                By providing services such as comprehensive insurance ......</p>
            </div>
        <div class="block white-bg"></div>
        <!-- Components on top of the main block -->
        <div class="features" style="margin-top: -500px;"> <!-- Adjust margin-top as needed -->
            <div class="box">
                <div class="card">
                    <img src="{% static 'images/img4.jpg' %}">
                    <h5>Rent a Car</h5>
                    <p>An online shop that evokes the physical analogy of buying products and services at a regular "bricks and
                        mortar" retailer-or-shopping center.</p>
                </div>
            </div>
            <div class="box">
                <div class="card">
                    <img src="{% static 'images/img2.png' %}">
                    <h5>Search Car by Category</h5>
                    <p>We provide various car types you can book car of your choice as per  availability.</p>
                </div>
            </div>
            <div class="box">
                <div class="card">
                    <img src="{% static 'images/img1.jpeg' %}">
                    <h5>Book Your Car Online</h5>
                    <p>Simply search for your destination, choose the date you want to travel</p>
                </div>
            </div>
        </div>
    </div>
    <h1>About Car Pooling System</h1><br>
    <!-- New block between image and main block -->
<div class="new-block">
    <h3 class="block-heading">About Us</h3>
    <div class="underline-purple"></div>
    <div class="block-content">
        <img src="{% static 'images/img5.jpg' %}" class="block-image">
        <div class="block-text">
            <p>We are a specialized team committed to providing reliable car rental services.
                One of the advantages of renting a car from us is offering competitive and transparent prices.
                By providing services such as comprehensive insurance ......</p>
        </div>
    </div>
</div>
</div>
{% endblock %}