{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css'%}">
    <script src="{% static 'js/home.js'%}"></script>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <center>{{ message }}</center>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="cssanimation sequence fadeInBottom">
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <h3>Login To Your Account</h3>
                <label for="username">Username</label>
                <input type="text" placeholder="Username" name="usern">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" name="password">
                <button>LOG IN</button></br></br>
                <p style="text-align: center;">Or <a href="{% url 'PATH:register' %}">REGISTER</a> here</p>
                <p style="text-align: center;"><a href="{% url 'car_ride:forget_password' %}">Forgot Password?</a></p>
            </form></br>
        </div>
    </div>
{% endblock %}