{% extends 'base.html' %}
{% load static %}
{% block body_block %}

  <link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css'%}">

<style>
    body {
      background-image: url("{% static 'images/img10.jpg' %}");
      background-size: cover;
      background-repeat: no-repeat;
     font-weight: 10;
    }

     #link:hover {
        color: black !important;
    }

    .container {
      display: flex;

      height: 100%;
    }

    .image {
      flex: 1;
    }

    .form-container {
      flex: 1;
    }
    .input-box {
      margin-bottom: 10px;
      display: inline-block;
    }
    label, select {
      display: block;
      color: white;
    }
</style>

  <div>
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <center>{{ message }}</center>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="container cssanimation sequence fadeInBottom">
    <div class="image" style="margin-top: 20%">
      <img src="{% static 'images/img9.png' %}" alt="Image" style="width: 100%; height: 50%; ">
    </div>

    <div class="form-container" style="margin-top: 7%; margin-bottom: 5%">
      <div class="container1" style="background-color: rgba(153, 97, 186, 1); border-radius: 20px; width: 650px; height: 700px; margin-left: 20%">
        <div class="title">
          <h3 style="color: white">Sign Up Into New Account</h3>
            <p style="color: white; text-align: center">Already a member? <a href="{% url 'PATH:login' %}" id="link" style="padding-left: 1%; color: white; transition: color 0.3s">Log In here</a> </p>
        </div>


      <div class="content">
        <form action="" method="post">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details" style="color: white; font-weight: 10">Full Name</span>
              <input type="text" name="fname" placeholder="Enter your name" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>

            <div class="input-box">
              <span class="details" style="color: white; font-weight: 10">Username</span>
              <input type="text" name="usern" placeholder="Enter your username" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>

            <div class="input-box">
              <span class="details" style="color: white; font-weight: 10">Password</span>
              <input type="password" name="password" placeholder="Enter your password" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>

            <div class="input-box">
              <span class="details" style="color: white; font-weight: 10">Email</span>
              <input type="email" name="email" placeholder="Enter your email" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>

            <div class="input-box">
              <span class="details" style="color: white; font-weight: 10">Phone Number</span>
              <input type="text" name="mobile" placeholder="Enter your number" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>

            <div class="gender-details">
              <input type="radio" name="gender" value="Male" id="dot-1">
              <input type="radio" name="gender" value="Female" id="dot-2">
              <input type="radio" name="gender" value="Prefer not to say" id="dot-3">

              <span class="gender-title" style="color: white; padding-left: 25px; font-weight: 10; font-size: 15px">Gender</span>

              <div class="category">
                <label for="dot-1">
                  <span class="dot one"></span>
                  <span class="gender" style="color: white; font-weight:10; padding-left: 10px">Male</span>
                </label>

                <label for="dot-2">
                  <span class="dot two"></span>
                  <span class="gender" style="color: white; font-weight:10; padding-left: 10px">Female</span>
                </label>

                <label for="dot-3">
                  <span class="dot three"></span>
                  <span class="gender" style="color: white; font-weight:10; padding-left: 10px">Prefer not to say</span>
                </label>
              </div>
            </div>

            <div class="input-box" style="width: 100%;">
              <span class="details" style="color: white; font-weight: 10">Address</span>
              <input type="text" name="address" placeholder="Enter your address" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>

            <div class="input-box" style="width: 49%;">
              <label for="inputState">State</label>
              <select class="form-control" name="state" id="inputState" style="border-radius: 50px; border-color: white">
                <option value="SelectState">Select State</option>
                <option value="Alberta">Alberta</option>
                <option value="British Columbia">British Columbia</option>
                <option value="Manitoba">Manitoba</option>
                <option value="New Brunswick">New Brunswick</option>
                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                <option value="Northwest Territories">Northwest Territories</option>
                <option value="Nova Scotia">Nova Scotia</option>
                <option value="Nunavut">Nunavut</option>
                <option value="Ontario">Ontario</option>
                <option value="Prince Edward Island">Prince Edward Island</option>
                <option value="Quebec">Quebec</option>
                <option value="Saskatchewan">Saskatchewan</option>
                <option value="Yukon">Yukon</option>
              </select>
            </div>
        <div class="input-box" style="width: 49%; float: right;">
              <label for="inputDistrict" style="padding-left: 25px">City</label>
              <input type="text" name="city" placeholder="Enter City" required="" style="color: black; border-radius: 50px; border-color: white">
            </div>
          </div>

          <div class="button">
            <input type="submit" value="Register" style="background-color: white; color: black; border-radius: 50px; border-color: white">
          </div>
        </form>
      </div>
    </div>
  </div>
{%endblock%}