{% extends 'base.html' %}
{% load static %}
{% block body_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css'%}">

  <div>
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <center>{{ message }}</center>

    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="cssanimation sequence fadeInBottom">

    <div class="container1">
      <div class="title">
        <h3>Sign Up Into New Account</h3>
      </div>

      <div class="content">
        <form action="" method="post">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" name="fname" placeholder="Enter your name" required="">
            </div>

            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" name="usern" placeholder="Enter your username" required="">
            </div>

            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" name="password" placeholder="Enter your password" required="">
            </div>

            <div class="input-box">
              <span class="details">Email</span>
              <input type="email" name="email" placeholder="Enter your email" required="">
            </div>

            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" name="mobile" placeholder="Enter your number" required="">
            </div>

            <div class="gender-details">
              <input type="radio" name="gender" value="Male" id="dot-1">
              <input type="radio" name="gender" value="Female" id="dot-2">
              <input type="radio" name="gender" value="Prefer not to say" id="dot-3">

              <span class="gender-title">Gender</span>

              <div class="category">
                <label for="dot-1">
                  <span class="dot one"></span>
                  <span class="gender">Male</span>
                </label>

                <label for="dot-2">
                  <span class="dot two"></span>
                  <span class="gender">Female</span>
                </label>

                <label for="dot-3">
                  <span class="dot three"></span>
                  <span class="gender">Prefer not to say</span>
                </label>
              </div>
            </div>

            <div class="input-box" style="width: 100%;">
              <span class="details">Address</span>
              <input type="text" name="address" placeholder="Enter your address" required="">
            </div>

            <div class="input-box">
              <label for="inputState">State</label>
              <select class="form-control" name="state" id="inputState" style="border:1px solid black">
                <option value="SelectState">Select State</option>
                <option value="Alberta">Alberta</option>
                <option value="British Columbia">British Columbia</option>
                <option value="Manitoba">Manitoba</option>
                <option value="New Brunswick">New Brunswick</option>
                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                <option value="Northwest Territories">Northwest Territories</option>
                <option value="Nova Scotia">Nova Scotia</option>
                <option value="Nunavut">Nunavut</option>
                <option value="Ontario">Ontario</option>
                <option value="Prince Edward Island">Prince Edward Island</option>
                <option value="Quebec">Quebec</option>
                <option value="Saskatchewan">Saskatchewan</option>
                <option value="Yukon">Yukon</option>
              </select>
            </div>
{#            <div class="input-box">#}
{#              <label for="inputDistrict">City</label>#}
{#              <select class="form-control" id="inputDistrict" name="city" style="border:1px solid black">#}
{#                <option value="">Select City </option>#}
{#              </select>#}
{#            </div>#}

              <div class="input-box" style="width: 100%;">
              <span class="details">City</span>
              <input type="text" name="city" placeholder="Enter City" required="">
            </div>

            <!--<div class="input-box">
              <span class="details">City</span>
              <input type="text" name="city" placeholder="Enter your City" required="">
            </div>

            <div class="input-box">
              <span class="details">State</span>
              <input type="text" name="state" placeholder="Enter your State" required="">
            </div>-->
          </div>

          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
        <p style="text-align: center;">Or <a href="http://127.0.0.1:8000/login" id="link">LOGIN</a> here</p>
      </div>
    </div>



  </div>



 {% endblock %}