{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="{% static 'styles/search.css'%}">
  <div class="cssanimation sequence fadeInBottom">
    <div class="container2" id="container2">
<div class="content-wrapper">
        <div class="image-wrapper">
            <img src="{% static 'images/picture1.jpg' %}" alt="Car Image">
        </div>
        <div class="content" id="content">
          <div class="title">
            <h3>Book Your Car</h3>
          </div>
          <form action="#" method="post">
            {% csrf_token %}
            {{ form }}
            <button id="add">Search Car</button><br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}