{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<style>
    .parentDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 0 3%;
    }

    .content1 {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        background-color: rgba(153, 97, 186, 0.2);
        border-radius: 10px;
        border: 2px solid #9961BA;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .content1:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .content1 img {
        width: 35%;
        max-height: 150px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 20px;
    }

    .content1 table {
        width: 65%;
        margin-left: 10px;
    }

    .content1 th,
    .content1 td {
        padding: 8px;
        font-size: 15px;
    }

    .content1 th {
        text-align: left;
        width: 30%;
    }

      .parentDiv button {
    padding: 8px 16px;
    background-color: #9961BA;
    color: #FFFFFF;
    border-color: #9961BA;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 200px;
    display: inline-block;
    text-decoration: none;
    width: 150px;
  }

  .parentDiv button:hover {
    background-color:  rgba(153, 97, 186, 0.2);
    transform: scale(1.05);
      color: #a028ec;
  }
</style>

<div class="parentDiv">
    {% for car in cars %}
    <div class="content1">
        <img src="{{ car.car_img.url }}" alt="Car Image">

        <table>
            <tr>
                <th>Rider:</th>
                <td>{{ car.cust.fname }}</td>
            </tr>
            <tr>
                <th>Contact:</th>
                <td>{{ car.cust.mobile }}</td>
            </tr>
            <tr>
                <th>From Place:</th>
                <td>{{ car.from_place }}</td>
            </tr>
            <tr>
                <th>To Place:</th>
                <td>{{ car.to_place }}</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>{{ car.price }}/-</td>
            </tr>
        </table>
<a href="{% url 'cardetails' car.pk %}">
            <button name="book_car_{{ car.pk }}">Book Ride</button>
        </a>
    </div>
    {% empty %}
    <p>No rides are available!</p>
    {% endfor %}
</div>

{% endblock %}
