{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <style>

        h1 {
            color: #9961BA;
            font-size: 36px;
            margin-bottom: 20px;
            text-align: center;
        }

        .notification {
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            margin-left: 15%;
            text-align: left;
            width: 70%;
            border: 1px solid #9961BA;
            background-color:  rgba(153, 97, 186, 0.2);
        }

         .notification:hover {
            background-color: rgba(153, 97, 186, 0.4);
        }

    </style>

    <h1>User Activity</h1>
    {% for notification in notifications %}
        <div class="notification {% if not notification.read %}unread{% endif %}">
            {{ notification.message }}
        </div>
    {% endfor %}
{% endblock %}
